/*
*/

@CHARSET "UTF-8";

.taxonomy_grid_main td{
	vertical-align:top;
}

div.taxonomy_grid_type{
	width:30%;
	float:left;
	margin-right:1%;
	margin-top:10px;
}

div.taxonomy_grid_type_clear{
	clear:both;
	width:30%;
	float:left;
	margin-right:1%;
	margin-top:10px;
}

.tg_cell{
	width:80%;
}

.tg_type{
	font-weight:bold;
	text-align:center;
}

div.tg_terms{
	text-align:center;
	line-height:1.5em;
	font-size:1.2em;
}
div.tg_addlink{
	text-align:right;
	font-style:italic;
}